*{
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Images/sppu\ image.webp);
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.navbar{
    height: 80px;
    width: 100%;
    display: flex;
    gap: 558px;
}
.content{
    margin-left: 230px;
    margin-top: 25px;
    display: flex;
}
.navbar img{
width: 70px;
height: -70px;
margin-bottom: 160px;
}
.navbar a{
    position: relative;
    left: 19px;
    padding-left: 40px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
}
.logo{
    margin-left: 26px;
    margin-top: 2px;
}
.content  a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #61db88;
    display: block;
    transition: 0.3s;
    margin: auto;
}
.content a:hover::after{
    width: 100%;
}

.text-box{
width: 90%;
color: #ffff;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
text-align: center;
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 10px 0 40px;
    color: #ffff;
    font-size: 17px;
}
.text-box h1,p{
    padding: 9px;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    transition: 0.3s;
    border: 1px solid red;
    background: red;
}
/* @media(max-width:700px)
{
    .text-box h1{
        font-size: 20px;
    }
    .navbar {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
}
} */

/* Course Section */
.course{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    background-color: aliceblue;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.bold{
   color: rgb(137, 2, 29);
}

.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: rgb(255, 213, 220);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
    
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgb(106, 106, 217);
}

/* Campus Section */
.campus{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./Images/campus\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
}  
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}
.campus-col img{
    width: 100%;
}
.layer:hover{
    background: rgb(215, 158, 215,0.5);
    
}
.facility{
    color: rgb(237, 237, 237);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.3s;
}
.layer:hover h3{
bottom: 49%;
opacity: 1;
}

/* testimonial */
.testimonial{
    height: 100vh;
    width: 100%;
    padding-top: 100px;
}
.main-testimonial{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #eacdcd;
    padding: 25px;
    cursor: pointer;
    display: flex; 
}
.testimonial-col img{
    height: 100px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
.testimonial h1{
    margin-left: 530px;
    text-align: left;
}
.testimonial p1{
    text-align: center;
    justify-content: center;
}
.testimonial-col:hover{
    box-shadow: 0 0 20px 0px rgb(137, 121, 121);
}
.p1{
    margin-left: 400px;
    align-items: center;
}
.star{
    color: rgb(211, 186, 41);
}

/* <!--Call to action--> */
.ctp{
    margin: 100px auto;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./Images/callToAction.webp);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}
.contact-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer; 
    
}
.contact-btn:hover{
    background-color: yellow;
    color: black;
}
.ctp-h1{
    /* margin-left: 130px; */
    text-align: center;
    color: white;
    /* margin-bottom: 40px; */
    padding: 0;
}
